# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [74]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [75]:
# your code here

orders = pd.read_csv('Orders.csv')

orders.head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [76]:
# your code here
# first we can aggregate all the orders from the same customer ID using groupby() method

customers = orders.groupby('CustomerID')['amount_spent'].sum().reset_index()

customers.head(50)

    CustomerID  amount_spent
0        12346      77183.60
1        12347       4310.00
2        12348       1797.24
3        12349       1757.55
4        12350        334.40
5        12352       2506.04
6        12353         89.00
7        12354       1079.40
8        12355        459.40
9        12356       2811.43
10       12357       6207.67
11       12358       1168.06
12       12359       6372.58
13       12360       2662.06
14       12361        189.90
15       12362       5226.23
16       12363        552.00
17       12364       1313.10
18       12365        641.38
19       12367        168.90
20       12370       3545.69
21       12371       1887.96
22       12372       1298.04
23       12373        364.60
24       12374        742.93
25       12375        457.50
26       12377       1628.12
27       12378       4008.62
28       12379        852.24
29       12380       2724.81
30       12381       1845.31
31       12383       1850.56
32       12384        585.27
33       12386        401.90
34       12388       2780.66
35       12390        549.84
36       12391        460.89
37       12393       1582.60
38       12394       1272.48
39       12395       3018.63
40       12397       2409.90
41       12398       1635.66
42       12399       1108.65
43       12401         84.30
44       12402        225.60
45       12403        427.70
46       12405       1710.39
47       12406       3415.30
48       12407       1708.12
49       12408       2888.55

In [77]:
# Problem 2 
# here we will define the vip customers = quantile_95 
#and the preferred customers = quantile 75



quantile_95 = orders['amount_spent'].quantile(0.95)
quantile_75 = orders['amount_spent'].quantile(0.75)

vip_customers = orders[orders['amount_spent'] > quantile_95]['CustomerID']
preferred_customers = orders[(orders['amount_spent'] > quantile_75) & (orders['amount_spent'] <= quantile_95)]['CustomerID']

In [78]:
vip_customers

26        12583
27        12583
34        12583
40        12583
46        13748
          ...
397842    17581
397850    17581
397883    13777
397907    13113
397908    13113
Name: CustomerID, Length: 19615, dtype: int64

In [79]:
preferred_customers

1         17850
2         17850
3         17850
4         17850
6         17850
          ...
397904    15804
397905    13113
397906    13113
397909    12680
397917    12680
Name: CustomerID, Length: 70007, dtype: int64

In [85]:
#customers['customer_type'] = np.where(customers > quantile_95, 'VIP', np.where((customers > quantile_75) & (customers <= quantile_95), 'Preferred', 'Regular'))

orders['customer_type'] = np.where(orders['amount_spent'] > quantile_95, 'VIP', 
                                      np.where(orders['amount_spent'] > quantile_75, 'Preferred', 'Regular'))

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
orders['CustomerID'].isnull().values.any()

False

In [ ]:
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [ ]:
# your code here

# Create a DataFrame with only VIP customers
vip_df = orders[orders['customer_type'] == 'VIP']

KeyError: 'customer_type'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here