# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders = pd.read_csv("Orders.csv")
orders.head(20)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
#Amount spent for unique customers

customer_spending = orders.groupby('CustomerID')['amount_spent'].sum()

customer_spending

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [7]:

quantiles = customer_spending.quantile([0.75, 0.95])

#above the 95th percentile (VIP)
vip_customers = customer_spending[customer_spending > quantiles[0.95]]

#between the 75th and 95th percentile (Preferred)
preferred_customers = customer_spending[(customer_spending >= quantiles[0.75]) & (customer_spending <= quantiles[0.95])]

print(vip_customers)
print(preferred_customers)

CustomerID
12346     77183.60
12357      6207.67
12359      6372.58
12409     11072.67
12415    124914.53
           ...
18109      8052.97
18139      8438.34
18172      7561.68
18223      6484.54
18229      7276.90
Name: amount_spent, Length: 217, dtype: float64
CustomerID
12347    4310.00
12348    1797.24
12349    1757.55
12352    2506.04
12356    2811.43
          ...
18259    2338.60
18260    2643.20
18272    3078.58
18283    2094.88
18287    1837.28
Name: amount_spent, Length: 868, dtype: float64

In [9]:
# Create a new column 'CustomerType' and initialize it as 'Regular'
orders['CustomerType'] = 'Regular'

# Label the customers as "VIP" or "Preferred" based on their inclusion in the respective groups
orders.loc[orders['CustomerID'].isin(vip_customers.index), 'CustomerType'] = 'VIP'
orders.loc[orders['CustomerID'].isin(preferred_customers.index), 'CustomerType'] = 'Preferred'

# Display the updated dataframe with customer labels
print(orders)

        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
0                0     536365    85123A  2010     12    3     8
1                1     536365     71053  2010     12    3     8
2                2     536365    84406B  2010     12    3     8
3                3     536365    84029G  2010     12    3     8
4                4     536365    84029E  2010     12    3     8
...            ...        ...       ...   ...    ...  ...   ...
397919      541904     581587     22613  2011     12    5    12
397920      541905     581587     22899  2011     12    5    12
397921      541906     581587     23254  2011     12    5    12
397922      541907     581587     23255  2011     12    5    12
397923      541908     581587     22138  2011     12    5    12

                                Description  Quantity          InvoiceDate  \
0        white hanging heart t-light holder         6  2010-12-01 08:26:00
1                       white metal lantern         6  2010-12-01 08:26:00
2            cream cupid hearts coat hanger         8  2010-12-01 08:26:00
3       knitted union flag hot water bottle         6  2010-12-01 08:26:00
4            red woolly hottie white heart.         6  2010-12-01 08:26:00
...                                     ...       ...                  ...
397919          pack of 20 spaceboy napkins        12  2011-12-09 12:50:00
397920         children's apron dolly girl          6  2011-12-09 12:50:00
397921        childrens cutlery dolly girl          4  2011-12-09 12:50:00
397922      childrens cutlery circus parade         4  2011-12-09 12:50:00
397923        baking set 9 piece retrospot          3  2011-12-09 12:50:00

        UnitPrice  CustomerID         Country  amount_spent CustomerType
0            2.55       17850  United Kingdom         15.30    Preferred
1            3.39       17850  United Kingdom         20.34    Preferred
2            2.75       17850  United Kingdom         22.00    Preferred
3            3.39       17850  United Kingdom         20.34    Preferred
4            3.39       17850  United Kingdom         20.34    Preferred
...           ...         ...             ...           ...          ...
397919       0.85       12680          France         10.20      Regular
397920       2.10       12680          France         12.60      Regular
397921       4.15       12680          France         16.60      Regular
397922       4.15       12680          France         16.60      Regular
397923       4.95       12680          France         14.85      Regular

[397924 rows x 15 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [10]:

vip_customers_orders = orders[orders['CustomerType'] == 'VIP']


vip_customer_count = vip_customers_orders['Country'].value_counts()

# Get the country with the highest count of VIP customers
country_with_most_vip = vip_customer_count.idxmax()
country_with_most_vip

'United Kingdom'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [11]:

vip_preferred_customers_orders = orders[orders['CustomerType'].isin(['VIP', 'Preferred'])]


vip_preferred_customer_count = vip_preferred_customers_orders['Country'].value_counts()

# Get the country with the highest count of VIP and Preferred customers
country_with_most_vip_preferred = vip_preferred_customer_count.idxmax()
country_with_most_vip_preferred

'United Kingdom'