# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [58]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [59]:
# your code here
orders_df = pd.read_csv('C:/Users/magavald/Desktop/Ironhack/Week2/lab-dataframe-calculations/your-code/orders.csv')

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [60]:
# your code here
amount_spent_customers = orders_df.groupby('CustomerID').agg({'amount_spent':'sum'}).sort_values(by='amount_spent',ascending=False)
amount_spent_customers

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06
...                  ...
17956              12.75
16454               6.90
14792               6.20
16738               3.75
13256               0.00

[4339 rows x 1 columns]

In [61]:
amount_spent_customers.loc[amount_spent_customers['amount_spent']>=amount_spent_customers['amount_spent'].quantile(q=0.95),'Customer Type'] = 'VIP'
amount_spent_customers.loc[amount_spent_customers['amount_spent'].between(amount_spent_customers['amount_spent'].quantile(q=0.75),amount_spent_customers['amount_spent'].quantile(q=0.95),inclusive='left'),'Customer Type']='Preferred'
print(amount_spent_customers['Customer Type'].value_counts())
print(amount_spent_customers['amount_spent'].quantile(q=0.95))
print(amount_spent_customers['amount_spent'].quantile(q=0.75))

Preferred    868
VIP          217
Name: Customer Type, dtype: int64
5840.181999999982
1661.64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [62]:
# your code here
customer_country = orders_df[['CustomerID','Country']].drop_duplicates()
customer_country

        CustomerID         Country
0            17850  United Kingdom
9            13047  United Kingdom
26           12583          France
46           13748  United Kingdom
65           15100  United Kingdom
...            ...             ...
394965       13436  United Kingdom
395041       15520  United Kingdom
395777       13298  United Kingdom
396506       14569  United Kingdom
397783       12713         Germany

[4347 rows x 2 columns]

In [63]:
customer_country_type = customer_country.merge(amount_spent_customers,on='CustomerID', how='left')
#Some customers are in multiple countries
customer_country_type[customer_country_type['CustomerID'].duplicated()].sort_values(by='amount_spent', ascending=False)

      CustomerID      Country  amount_spent Customer Type
1513       12431      Belgium       6487.45           VIP
2407       12429      Austria       3750.40     Preferred
2432       12417        Spain       3649.10     Preferred
816        12370      Austria       3545.69     Preferred
2741       12455        Spain       2466.86     Preferred
3462       12457       Cyprus       2363.23     Preferred
3692       12394      Denmark       1272.48           NaN
2932       12422  Switzerland        803.56           NaN

In [64]:
customer_country_type[customer_country_type['Customer Type']=='VIP'].groupby('Country').agg({'Customer Type':'count'}).sort_values(by='Customer Type',ascending=False)

                 Customer Type
Country
United Kingdom             177
Germany                     10
France                       9
Switzerland                  3
Spain                        2
Portugal                     2
Australia                    2
EIRE                         2
Japan                        2
Finland                      1
Belgium                      1
Netherlands                  1
Norway                       1
Denmark                      1
Singapore                    1
Cyprus                       1
Sweden                       1
Channel Islands              1

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [65]:
# your code here
customer_country_type.groupby('Country').agg({'Customer Type':'count'}).sort_values(by = 'Customer Type',ascending= False)

                      Customer Type
Country
United Kingdom                  932
Germany                          39
France                           29
Belgium                          12
Switzerland                       9
Spain                             9
Portugal                          7
Norway                            7
Italy                             5
Finland                           5
Japan                             4
Australia                         4
Cyprus                            4
Channel Islands                   4
Denmark                           3
Austria                           3
EIRE                              3
Israel                            2
Sweden                            2
Netherlands                       1
Singapore                         1
Poland                            1
Canada                            1
Malta                             1
Lebanon                           1
Iceland                           1
Greece                            1
Bahrain                           0
USA                               0
Brazil                            0
United Arab Emirates              0
European Community                0
Saudi Arabia                      0
RSA                               0
Lithuania                         0
Czech Republic                    0
Unspecified                       0