# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [88]:
# import libraries
import pandas as pd
import numpy as np
import re

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [152]:
# import dataset

pokemon = pd.read_csv("./Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [153]:
# your code here

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [154]:
# your code here

type_1 = pokemon['Type 1']
print(type_1)

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [155]:
type_2 = pokemon['Type 2']
print(type_2)

0      Poison
1      Poison
2      Poison
3      Poison
4         NaN
        ...
795     Fairy
796     Fairy
797     Ghost
798      Dark
799     Water
Name: Type 2, Length: 800, dtype: object

In [156]:
types = np.concatenate((type_1, type_2))
print(types)

['Grass' 'Grass' 'Grass' ... 'Ghost' 'Dark' 'Water']

In [239]:
unique_types = []

for pokemon_type in types:
    if pokemon_type not in unique_types and pd.isnull(pokemon_type) == False:
        unique_types.append(pokemon_type)

print(unique_types)

['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric', 'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Dragon', 'Dark', 'Steel', 'Flying']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [159]:
def cleaning_mega(row):
    name = row['Name'].split()
    if len(name) > 1:
        if name[0] == name[1]+'Mega':
            name = 'Mega '+name[1]
        else:
            name = re.sub(r'(?<!^)(?=[A-Z])', ' ', row['Name']).strip()   #additional
    else:
        name = row['Name']
    return name

pokemon['Name'] = pokemon.apply(cleaning_mega, axis = 1)

In [160]:
# your code here

# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [161]:
# your code here

pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
7,6,Mega Charizard,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171
8,6,Mega Charizard,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462

#### Identify the pokemon with the highest `A/D Ratio`.

In [162]:
# your code here

max_ad_ratio = pokemon['A/D Ratio'].max()
pokemons_max_ad_ratio = pokemon[pokemon['A/D Ratio'] == max_ad_ratio]

print(max_ad_ratio)

9.0

In [163]:
print(pokemons_max_ad_ratio)

       #                  Name   Type 1 Type 2  Total  HP  Attack  Defense  \
429  386  Deoxys Attack  Forme  Psychic    NaN    600  50     180       20

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  A/D Ratio
429      180       20    150           3       True        9.0

After seeing this result, we noticed that there are more issues with the name data since the name was appearing as "DeoxysAttack  Forme". We did some testings and determined we needed to separate the names when encountering capital letter. So we added that to the initial function. 
Code was changed to markdown to avoid errors when running all the cells.

#testings_names

#First obtain all the names from the pokemon data set

names_test = pokemon['Name']
unique_names = []

for name in names_test:
    if name not in unique_names:
        unique_names.append(name)

#testings_names

#Filter only the ones with more that one word

filtered_pokemons_array = [element for element in unique_names if len(element.split()) > 1]
print(filtered_pokemons_array)

#testings_names

#Exclude the ones that start with "Mega" since those were already fixed
#After indetifying the issue can be fixed separating the name when it encounter a capital letter we apply regex

other_names = []
for name in filtered_pokemons_array:
    name_spaced = re.sub(r'(?<!^)(?=[A-Z])', ' ', name).strip()
    name_split = name_spaced.split()
    if name_split[0] != 'Mega':
        other_names.append(name_spaced)
        
print(other_names)

#### Identify the pokemon with the lowest A/D Ratio.

In [164]:
# your code here

min_ad_ratio = pokemon['A/D Ratio'].min()
pokemons_min_ad_ratio = pokemon[pokemon['A/D Ratio'] == min_ad_ratio]

print(min_ad_ratio)

0.043478260869565216

In [165]:
print(pokemons_min_ad_ratio)

       #     Name Type 1 Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
230  213  Shuckle    Bug   Rock    505  20      10      230       10      230

     Speed  Generation  Legendary  A/D Ratio
230      5           2      False   0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [241]:
pokemon[['Type 2']] = pokemon[['Type 2']].fillna(" ")

In [242]:
# your code here

def pokemon_type(row):
    type_1 = row['Type 1']
    type_2 = row['Type 2']
    
    if type_2 == " ":  
        return type_1
    else:
        return str(type_1) + "-" + str(type_2)

pokemon['Combo Type'] = pokemon.apply(pokemon_type, axis = 1)

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [200]:
# your code here

pokemon_sorted = pokemon.sort_values('A/D Ratio', ascending = False)
pokemon_sorted.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,Deoxys Attack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [202]:
# your code here

top_5_pokemon = pokemon_sorted.head(5)
top_5_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,Deoxys Attack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

In [210]:
combo_type = top_5_pokemon['Combo Type'].values.tolist()
display(combo_type)

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock', 'Water-Dark']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [235]:
filtered_pokemon = pokemon[pokemon['Combo Type'].isin(combo_type)].drop(['Name','Type 1','Type 2'], axis = 1)
filtered_pokemon.head()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
16,13,195,40,35,30,20,20,50,1,False,1.166667,Bug-Poison
17,14,205,45,25,50,25,25,35,1,False,0.500000,Bug-Poison
18,15,395,65,90,40,45,80,75,1,False,2.250000,Bug-Poison
19,15,495,65,150,40,15,80,145,1,False,3.750000,Bug-Poison
53,48,305,60,55,50,40,55,45,1,False,1.100000,Bug-Poison

In [229]:
def range_aggregation(x):
    return x.mean()

In [234]:
filtered_pokemon.groupby(['Combo Type']).agg(range_aggregation)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug-Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315989
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091
Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949