# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [2]:
# import libraries
import numpy as np
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import dataset
pokemon=pd.read_csv("Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
print(pokemon.shape)
pokemon.head(10)

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# your code here
pokemon_type=pokemon[['Type 1',"Type 2"]]
print(pokemon_type.head())
unique_1=pokemon_type["Type 1"].unique()
print(unique_1)
unique_2=pokemon_type["Type 2"].unique()
print(unique_2)
unique_type=np.concatenate((unique_1,unique_2))
print(unique_type)

  Type 1  Type 2
0  Grass  Poison
1  Grass  Poison
2  Grass  Poison
3  Grass  Poison
4   Fire     NaN
['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']
['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying' 'Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass'
 'Fighting' 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric'
 'Fire' 'Ghost' 'Bug' 'Normal']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [6]:
# your code here


# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [8]:
# your code here
pokemon['A/D Ratio']=pokemon['Attack']/pokemon['Defense']
pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [12]:
# your code here
maxAD_pokemon = pokemon.loc[(pokemon['A/D Ratio'] == np.max(pokemon['A/D Ratio']))] 
maxAD_pokemon['Name'].unique()

array(['DeoxysAttack Forme'], dtype=object)

#### Identify the pokemon with the lowest A/D Ratio.

In [13]:
# your code here
minAD_pokemon = pokemon.loc[(pokemon['A/D Ratio'] == np.min(pokemon['A/D Ratio']))] 
minAD_pokemon['Name'].unique()

array(['Shuckle'], dtype=object)

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [36]:
# your code here
#pokemon['Combo Type'] = np.where(pokemon['Type 2'].isnull(), pokemon[['Type 1','Type 2']].apply("-",join, pokemon["Type 1"]
pokemon['Combo Type'] = np.where(pokemon['Type 2'].isnull(),pokemon['Type 1'],pokemon["Type 1"] + "-" + pokemon['Type 2'])
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [48]:
# your code here
pokemon_sort=pokemon.sort_values(by='A/D Ratio',ascending=False)
print(pokemon_sort)
top5=pokemon_sort['Name'].head()
print(top5)

       #                   Name   Type 1   Type 2  Total   HP  Attack  \
429  386     DeoxysAttack Forme  Psychic      NaN    600   50     180
347  318               Carvanha    Water     Dark    305   45      90
19    15  BeedrillMega Beedrill      Bug   Poison    495   65     150
453  408               Cranidos     Rock      NaN    350   67     125
348  319               Sharpedo    Water     Dark    460   70     120
..   ...                    ...      ...      ...    ...  ...     ...
616  555     DarmanitanZen Mode     Fire  Psychic    540  105      30
103   95                   Onix     Rock   Ground    385   35      45
484  436                Bronzor    Steel  Psychic    300   57      24
139  129               Magikarp    Water      NaN    200   20      10
230  213                Shuckle      Bug     Rock    505   20      10

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary  A/D Ratio  \
429       20      180       20    150           3       True   9.000000
347       20       65       20     65           3      False   4.500000
19        40       15       80    145           1      False   3.750000
453       40       30       30     58           4      False   3.125000
348       40       95       40     95           3      False   3.000000
..       ...      ...      ...    ...         ...        ...        ...
616      105      140      105     55           5      False   0.285714
103      160       30       45     70           1      False   0.281250
484       86       24       86     23           4      False   0.279070
139       55       15       20     80           1      False   0.181818
230      230       10      230      5           2      False   0.043478

        Combo Type
429        Psychic
347     Water-Dark
19      Bug-Poison
453           Rock
348     Water-Dark
..             ...
616   Fire-Psychic
103    Rock-Ground
484  Steel-Psychic
139          Water
230       Bug-Rock

[800 rows x 15 columns]
429       DeoxysAttack Forme
347                 Carvanha
19     BeedrillMega Beedrill
453                 Cranidos
348                 Sharpedo
Name: Name, dtype: object

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [49]:
# your code here
top5_combo=list(pokemon_sort['Combo Type'].head())
print(top5_combo)

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock', 'Water-Dark']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [51]:
# your code here
print(pokemon.dtypes)

#               int64
Name           object
Type 1         object
Type 2         object
Total           int64
HP              int64
Attack          int64
Defense         int64
Sp. Atk         int64
Sp. Def         int64
Speed           int64
Generation      int64
Legendary        bool
A/D Ratio     float64
Combo Type     object
dtype: object

In [62]:
combo_df=pd.DataFrame(columns=['Combo type',"#",'Total','HP','Attack','Defense','Sp. Atk','Sp. Def', 'Speed',"Generation","A/D Ratio"])
for type in top5_combo:
    n=pokemon.loc[pokemon['Combo Type'] == type, '#'].mean()
    total=pokemon.loc[pokemon['Combo Type'] == type, 'Total'].mean()
    hp=pokemon.loc[pokemon['Combo Type'] == type, 'HP'].mean()
    attack=pokemon.loc[pokemon['Combo Type'] == type, 'Attack'].mean()
    defense=pokemon.loc[pokemon['Combo Type'] == type, 'Defense'].mean()
    atk=pokemon.loc[pokemon['Combo Type'] == type, 'Sp. Atk'].mean()
    spdef=pokemon.loc[pokemon['Combo Type'] == type, 'Sp. Def'].mean()
    speed=pokemon.loc[pokemon['Combo Type'] == type, 'Speed'].mean()
    gen=pokemon.loc[pokemon['Combo Type'] == type, 'Generation'].mean()
    ad=pokemon.loc[pokemon['Combo Type'] == type, 'A/D Ratio'].mean()
    combo_df=combo_df.append({'Combo type':type,"#":n,'Total':total,'HP':hp,'Attack':attack,'Defense':defense,'Sp. Atk':atk,'Sp. Def':spdef, 'Speed':speed,"Generation":gen,"A/D Ratio":ad},ignore_index= True)
    #combo_df=pd.combo_df.concat(type,n,total,hp,attack.defense,atk,spdef,speed,gen,ad)
print(combo_df)

   Combo type           #       Total         HP      Attack     Defense  \
0     Psychic  381.973684  464.552632  72.552632   64.947368   67.236842
1  Water-Dark  347.666667  493.833333  69.166667  120.000000   65.166667
2  Bug-Poison  199.166667  347.916667  53.750000   68.333333   58.083333
3        Rock  410.111111  409.444444  67.111111  103.333333  107.222222
4  Water-Dark  347.666667  493.833333  69.166667  120.000000   65.166667

     Sp. Atk    Sp. Def      Speed  Generation  A/D Ratio
0  98.552632  82.394737  78.868421    3.342105   1.164196
1  88.833333  63.500000  87.166667    3.166667   2.291949
2  42.500000  59.333333  65.916667    2.333333   1.315989
3  40.555556  58.333333  32.888889    3.888889   1.260091
4  88.833333  63.500000  87.166667    3.166667   2.291949

/var/folders/b5/_g73482d637g7mvbbf2qcxk80000gn/T/ipykernel_73588/581374613.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combo_df=combo_df.append({'Combo type':type,"#":n,'Total':total,'HP':hp,'Attack':attack,'Defense':defense,'Sp. Atk':atk,'Sp. Def':spdef, 'Speed':speed,"Generation":gen,"A/D Ratio":ad},ignore_index= True)
/var/folders/b5/_g73482d637g7mvbbf2qcxk80000gn/T/ipykernel_73588/581374613.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combo_df=combo_df.append({'Combo type':type,"#":n,'Total':total,'HP':hp,'Attack':attack,'Defense':defense,'Sp. Atk':atk,'Sp. Def':spdef, 'Speed':speed,"Generation":gen,"A/D Ratio":ad},ignore_index= True)
/var/folders/b5/_g73482d637g7mvbbf2qcxk80000gn/T/ipykernel_73588/581374613.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combo_df=combo_df.append({'Combo type':type,"#":n,'Total':total,'HP':hp,'Attack':attack,'Defense':defense,'Sp. Atk':atk,'Sp. Def':spdef, 'Speed':speed,"Generation":gen,"A/D Ratio":ad},ignore_index= True)
/var/folders/b5/_g73482d637g7mvbbf2qcxk80000gn/T/ipykernel_73588/581374613.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combo_df=combo_df.append({'Combo type':type,"#":n,'Total':total,'HP':hp,'Attack':attack,'Defense':defense,'Sp. Atk':atk,'Sp. Def':spdef, 'Speed':speed,"Generation":gen,"A/D Ratio":ad},ignore_index= True)
/var/folders/b5/_g73482d637g7mvbbf2qcxk80000gn/T/ipykernel_73588/581374613.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combo_df=combo_df.append({'Combo type':type,"#":n,'Total':total,'HP':hp,'Attack':attack,'Defense':defense,'Sp. Atk':atk,'Sp. Def':spdef, 'Speed':speed,"Generation":gen,"A/D Ratio":ad},ignore_index= True)