# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [216]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [217]:
# your code here
orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [218]:
# your code here
#Sub Problem 1:
amount_spent_costumer = orders.groupby('CustomerID',as_index=False).agg({'amount_spent':'sum'})
amount_spent_costumer

      CustomerID  amount_spent
0          12346      77183.60
1          12347       4310.00
2          12348       1797.24
3          12349       1757.55
4          12350        334.40
...          ...           ...
4334       18280        180.60
4335       18281         80.82
4336       18282        178.05
4337       18283       2094.88
4338       18287       1837.28

[4339 rows x 2 columns]

In [219]:
#renaming the amount spent column in the new data frame
amount_spent_costumer = amount_spent_costumer.rename(columns={'amount_spent':'amount_spent_per_customer'})

In [220]:
#Sub Problem 2:
#function to get the percentil of every row to see if it matches the label
amount_spent_costumer['percentil'] = amount_spent_costumer['amount_spent_per_customer'].rank(pct=True)
amount_spent_costumer

      CustomerID  amount_spent_per_customer  percentil
0          12346                   77183.60   0.997926
1          12347                    4310.00   0.922793
2          12348                    1797.24   0.768380
3          12349                    1757.55   0.761927
4          12350                     334.40   0.283475
...          ...                        ...        ...
4334       18280                     180.60   0.129984
4335       18281                      80.82   0.024199
4336       18282                     178.05   0.126066
4337       18283                    2094.88   0.804102
4338       18287                    1837.28   0.773681

[4339 rows x 3 columns]

In [221]:
#how to label every customer
amount_spent_costumer['label'] = pd.qcut(amount_spent_costumer['amount_spent_per_customer'],[0,0.75,0.95,1],labels=['Other','Preferred','VIP'])
amount_spent_costumer

      CustomerID  amount_spent_per_customer  percentil      label
0          12346                   77183.60   0.997926        VIP
1          12347                    4310.00   0.922793  Preferred
2          12348                    1797.24   0.768380  Preferred
3          12349                    1757.55   0.761927  Preferred
4          12350                     334.40   0.283475      Other
...          ...                        ...        ...        ...
4334       18280                     180.60   0.129984      Other
4335       18281                      80.82   0.024199      Other
4336       18282                     178.05   0.126066      Other
4337       18283                    2094.88   0.804102  Preferred
4338       18287                    1837.28   0.773681  Preferred

[4339 rows x 4 columns]

In [222]:
#how to select only the VIP and sort them to have a better understanding
only_vip = amount_spent_costumer.sort_values(['percentil'],ascending=False)
only_vip
only_vip[only_vip['label']=='VIP']

      CustomerID  amount_spent_per_customer  percentil label
1690       14646                  280206.02   1.000000   VIP
4202       18102                  259657.30   0.999770   VIP
3729       17450                  194550.79   0.999539   VIP
3009       16446                  168472.50   0.999309   VIP
1880       14911                  143825.06   0.999078   VIP
...          ...                        ...        ...   ...
1587       14505                    5905.64   0.951141   VIP
1516       14415                    5900.28   0.950910   VIP
1898       14944                    5900.25   0.950680   VIP
650        13209                    5891.61   0.950449   VIP
892        13534                    5870.08   0.950219   VIP

[217 rows x 4 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [275]:
# your code here
#We only want the information for the customerID, their country and the label
merged_orders = pd.merge(left=orders[['CustomerID','Country']],
                                     right=amount_spent_costumer[['CustomerID','label']],
                                     left_on='CustomerID',
                                     right_on='CustomerID',
                                     how='left'
                                     )
#erase duplicates of CustomerID so we get a clean data frame
merged_orders = merged_orders.drop_duplicates(subset=['CustomerID'])
merged_orders

        CustomerID         Country      label
0            17850  United Kingdom  Preferred
9            13047  United Kingdom  Preferred
26           12583          France        VIP
46           13748  United Kingdom      Other
65           15100  United Kingdom      Other
...            ...             ...        ...
394965       13436  United Kingdom      Other
395041       15520  United Kingdom      Other
395777       13298  United Kingdom      Other
396506       14569  United Kingdom      Other
397783       12713         Germany      Other

[4339 rows x 3 columns]

In [283]:
#only for the VIP customers, count how many times appears the country
only_vip_customers = merged_orders[merged_orders['label']=='VIP']
only_vip_customers = pd.DataFrame(only_vip_customers['Country'].value_counts())
only_vip_customers [0:1]

                Country
United Kingdom      177

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [282]:
# your code here

only_vip_and_preferred = merged_orders[(merged_orders['label']=='VIP')+(merged_orders['label']=='Preferred')]
#only_vip_and_preferred -> to check if both are merged correctly
only_vip_and_preferred = pd.DataFrame(only_vip_and_preferred['Country'].value_counts())
#select the first one
only_vip_and_preferred [0:1]
#United Kingdom wins both

                Country
United Kingdom      932