# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [5]:
# your code here
Orders = pd.read_csv("Orders.csv")
Orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [40]:
# your code here
df1 = Orders[["CustomerID","amount_spent"]]
df1

df1 = df1.groupby(['CustomerID']).agg({'amount_spent':'sum'}).reset_index()
df1.sort_values("amount_spent", ascending = False)



df1.amount_spent.quantile([.95])
#0.95    5840.182
df1.amount_spent.quantile([.75])
#0.75    1661.64



labels = ["","Preferred", "VIP"]
df1["Status"] = pd.cut(df1['amount_spent'],[-1,1661.64,5840.182,500000000], labels = labels)
df1.sort_values("amount_spent", ascending = False)

      CustomerID  amount_spent Status
1690       14646     280206.02    VIP
4202       18102     259657.30    VIP
3729       17450     194550.79    VIP
3009       16446     168472.50    VIP
1880       14911     143825.06    VIP
...          ...           ...    ...
4099       17956         12.75
3015       16454          6.90
1794       14792          6.20
3218       16738          3.75
685        13256          0.00

[4339 rows x 3 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [44]:
# your code here
df1["Country"] = Orders["Country"]
df2 = df1[df1.Status == "VIP"]
df2 = df2["Country"].value_counts()
df2

United Kingdom    204
Norway              9
EIRE                2
Australia           1
Spain               1
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [49]:
# your code here
df1["Country"] = Orders["Country"]
df3 = df1[df1.Status.str.contains("VIP|Preferred")]
df3 = df3["Country"].value_counts()
df3

United Kingdom    1035
Norway              17
EIRE                10
France               8
Germany              7
Australia            5
Spain                2
Switzerland          1
Name: Country, dtype: int64