# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [9]:
# your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [25]:
# your code here
orders.groupby(['CustomerID']).agg({'amount_spent':'sum'})

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [27]:
def vip(x):
    return x.quantile(0.95)

orders.groupby(['CustomerID']).agg({'amount_spent': [vip]})

           amount_spent
                    vip
CustomerID
12346        77183.6000
12347           52.8150
12348          135.0000
12349           49.5000
12350           28.1600
...                 ...
18280           23.6550
18281           16.9500
18282           24.0975
18283            6.2400
18287           69.6000

[4339 rows x 1 columns]

In [29]:
orders['VIP'] = orders['amount_spent'] > orders['amount_spent'].quantile(q=0.95)
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,VIP
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,False
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,False
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,False
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,False
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,False
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,False
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,False
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,False
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,False

Sub-problem 2:

In [30]:
orders['Preferred'] = (orders['amount_spent'] > orders['amount_spent'].quantile(q=0.75)) & (orders['amount_spent'] < orders['amount_spent'].quantile(q=0.95))
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,VIP,Preferred
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,False,False
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,False,True
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,False,True
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,False,True
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20,False,False
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60,False,False
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60,False,False
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60,False,False
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85,False,False

Sub-problem 3:

In [33]:
#Dummies columns to make VIP and Preferred rows int
orders['VIP'] = orders['VIP'].apply(lambda x: 1 if x == True else 0)
orders['Preferred'] = orders['Preferred'].apply(lambda x: 1 if x == True else 0)
orders.head(5)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,VIP,Preferred
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,0,0
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0,1
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,0,1
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0,1
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,0,1

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [34]:
# your code here
country_vip = orders[orders['VIP']== 1][['Country','VIP']].groupby(['Country']).sum().sort_values(by=['VIP'], ascending=False)
country_preferred = orders[orders['Preferred']== 1][['Country','Preferred']].groupby(['Country']).sum().sort_values(by=['Preferred'], ascending=False)

country_vip, country_preferred

(                        VIP
 Country
 United Kingdom        14739
 Netherlands            1468
 EIRE                    715
 Australia               571
 Germany                 511
 France                  393
 Switzerland             179
 Sweden                  177
 Japan                   172
 Spain                   129
 Norway                  114
 Denmark                  62
 Finland                  62
 Singapore                41
 Portugal                 41
 Belgium                  39
 Channel Islands          31
 Israel                   28
 Austria                  27
 Cyprus                   24
 Greece                   20
 Italy                    19
 Poland                   10
 Lithuania                 7
 Iceland                   7
 Lebanon                   6
 Malta                     4
 USA                       4
 United Arab Emirates      4
 Canada                    3
 Brazil                    3
 Bahrain                   2
 Unspecified               2
 Czech Republic            1,
                       Preferred
 Country
 United Kingdom            57578
 Germany                    2371
 France                     2329
 EIRE                       1921
 Switzerland                 590
 Belgium                     541
 Spain                       469
 Netherlands                 458
 Portugal                    405
 Norway                      387
 Channel Islands             268
 Australia                   264
 Italy                       247
 Finland                     215
 Cyprus                      170
 Denmark                     154
 Singapore                   106
 Poland                      102
 Sweden                       93
 Austria                      91
 Israel                       90
 Japan                        69
 Iceland                      60
 USA                          56
 Unspecified                  34
 United Arab Emirates         32
 Canada                       30
 Malta                        26
 Greece                       24
 European Community           23
 Lebanon                      21
 Lithuania                    20
 Czech Republic               19
 RSA                          18
 Brazil                       11
 Bahrain                       9)

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [35]:
# your code here
vip_preferred_country = pd.merge(country_vip,country_preferred,how='outer',on='Country')
vip_preferred_country.head()

                    VIP  Preferred
Country
United Kingdom  14739.0      57578
Netherlands      1468.0        458
EIRE              715.0       1921
Australia         571.0        264
Germany           511.0       2371

In [36]:
vip_preferred_country['VIP+Preferred'] = vip_preferred_country['VIP'] + vip_preferred_country['Preferred']
vip_preferred_country = vip_preferred_country.sort_values('VIP+Preferred',ascending=False)
vip_preferred_country

                          VIP  Preferred  VIP+Preferred
Country
United Kingdom        14739.0      57578        72317.0
Germany                 511.0       2371         2882.0
France                  393.0       2329         2722.0
EIRE                    715.0       1921         2636.0
Netherlands            1468.0        458         1926.0
Australia               571.0        264          835.0
Switzerland             179.0        590          769.0
Spain                   129.0        469          598.0
Belgium                  39.0        541          580.0
Norway                  114.0        387          501.0
Portugal                 41.0        405          446.0
Channel Islands          31.0        268          299.0
Finland                  62.0        215          277.0
Sweden                  177.0         93          270.0
Italy                    19.0        247          266.0
Japan                   172.0         69          241.0
Denmark                  62.0        154          216.0
Cyprus                   24.0        170          194.0
Singapore                41.0        106          147.0
Israel                   28.0         90          118.0
Austria                  27.0         91          118.0
Poland                   10.0        102          112.0
Iceland                   7.0         60           67.0
USA                       4.0         56           60.0
Greece                   20.0         24           44.0
United Arab Emirates      4.0         32           36.0
Unspecified               2.0         34           36.0
Canada                    3.0         30           33.0
Malta                     4.0         26           30.0
Lithuania                 7.0         20           27.0
Lebanon                   6.0         21           27.0
Czech Republic            1.0         19           20.0
Brazil                    3.0         11           14.0
Bahrain                   2.0          9           11.0
European Community        NaN         23            NaN
RSA                       NaN         18            NaN