# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset
pokemon = pd.read_csv('C:\\Users\\carmo\\Desktop\\IronHack\\Week 2\\Day3\\lab-dataframe-calculations\\your-code\\pokemon.csv')

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [4]:
# for generation 1 it seems the total is the sum of the rest of the factors, I'm going to filter the df to see total values for legendary pokemons

legendary = pokemon[pokemon['Legendary'] == True].copy()

#i had to ask chat gpt for help here because I kept gotting an annoying error and it told me to add the .coppy at the end of it and now it works.
# tbh I have no idea why I got that error or how that solved it u.u'


#now I'm going to sum all the factors and compare them against the total to see if there is something going on.

legendary['sum total'] = legendary[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum(axis=1)
legendary.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,sum total
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,580
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,580
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,580
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,680
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,780
262,243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True,580
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True,580
264,245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True,580
269,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True,680

In [5]:
#legendary or not, the Total Column is still the sum of all stats. I'll do the same for the Generation just in case

generation = pokemon[pokemon['Generation'] != 1].copy()
generation['sum total'] = generation[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum(axis=1)
generation.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,sum total
166,152,Chikorita,Grass,NaN,318,45,49,65,49,65,45,2,False,318
167,153,Bayleef,Grass,NaN,405,60,62,80,63,80,60,2,False,405
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False,525
169,155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False,309
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False,405
171,157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False,534
172,158,Totodile,Water,NaN,314,50,65,64,44,48,43,2,False,314
173,159,Croconaw,Water,NaN,405,65,80,80,59,63,58,2,False,405
174,160,Feraligatr,Water,NaN,530,85,105,100,79,83,78,2,False,530
175,161,Sentret,Normal,NaN,215,35,46,34,35,45,20,2,False,215

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [6]:
# your code here
# Create a list of all unique type values in Type 1 and Type 2 columns
type_list = list(set(pokemon['Type 1']) | set(pokemon['Type 2'].fillna('')))

# Create an empty dictionary to hold the one hot encoded values for each pokemon
type_dict = {}

# Loop over each pokemon and encode its type values
for index, row in pokemon.iterrows():
    # Create an empty list to hold the one hot encoded values for this pokemon
    type_encoded = []
    # Loop over each possible type value and check if the pokemon has that type
    for t in type_list:
        # If the pokemon has that type, add a 1 to the list, otherwise add a 0
        if t == row['Type 1'] or t == row['Type 2']:
            type_encoded.append(1)
        else:
            type_encoded.append(0)
    # Add the one hot encoded values to the dictionary for this pokemon
    type_dict[index] = type_encoded

# Convert the dictionary of one hot encoded values into a dataframe
type_df = pd.DataFrame.from_dict(type_dict, orient='index', columns=type_list)

# Combine the one hot encoded dataframe with the original dataframe
pokemon_encoded = pd.concat([pokemon, type_df], axis=1)

pokemon_encoded.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Psychic,Flying,Bug,Steel,Dark,Rock,Ghost,Poison,Grass,Fire
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,0,0,0,0,0,0,0,1,1,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,0,0,0,0,0,0,0,1,1,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,0,0,0,0,0,0,0,1,1,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,0,0,0,0,0,0,0,1,1,0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,0,0,0,0,0,0,0,0,0,1
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,0,0,0,0,0,0,0,0,0,1
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,...,0,1,0,0,0,0,0,0,0,1
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,...,0,0,0,0,0,0,0,0,0,1
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,...,0,1,0,0,0,0,0,0,0,1
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,...,0,0,0,0,0,0,0,0,0,0
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,...,0,0,0,0,0,0,0,0,0,0
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,...,0,0,0,0,0,0,0,0,0,0
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,...,0,0,0,0,0,0,0,0,0,0
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,...,0,0,1,0,0,0,0,0,0,0
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,...,0,0,1,0,0,0,0,0,0,0
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,...,0,1,1,0,0,0,0,0,0,0
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,...,0,0,1,0,0,0,0,1,0,0
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,...,0,0,1,0,0,0,0,1,0,0
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,...,0,0,1,0,0,0,0,1,0,0
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,...,0,0,1,0,0,0,0,1,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [13]:
# your code here
correlations = pokemon_encoded.corr()['Total'].sort_values(ascending=False)
print(correlations)

Total         1.000000
Sp. Atk       0.747250
Attack        0.736211
Sp. Def       0.717609
HP            0.618748
Defense       0.612787
Speed         0.575943
Legendary     0.501758
Dragon        0.229705
Psychic       0.124688
#             0.119813
Steel         0.109703
Fire          0.078726
Fighting      0.077786
Ice           0.060248
Flying        0.059383
Dark          0.056154
Generation    0.048384
Rock          0.032731
Electric      0.020971
Ground        0.015060
Ghost         0.003641
Water        -0.021665
Fairy        -0.036698
Grass        -0.052592
Poison       -0.090441
Normal       -0.105331
Bug          -0.145781
                   NaN
Name: Total, dtype: float64

C:\Users\carmo\AppData\Local\Temp\ipykernel_16956\2740002703.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations = pokemon_encoded.corr()['Total'].sort_values(ascending=False)

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [ ]:
# your code here