# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
# your code here
orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [9]:
# your code here
# Sub Problem 1: How to aggregate the amount_spent for unique customers? group the data by Customer based on CustomerID and the average amount_spent
customer_average_spent = orders.groupby(['CustomerID']).agg({'amount_spent':'mean'})
customer_average_spent

            amount_spent
CustomerID
12346       77183.600000
12347          23.681319
12348          57.975484
12349          24.076027
12350          19.670588
...                  ...
18280          18.060000
18281          11.545714
18282          14.837500
18283           2.771005
18287          26.246857

[4339 rows x 1 columns]

In [10]:
#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
#find the quantile distribution of average_spent
q1 = np.quantile(customer_average_spent,0.25)
print("the first quartile is", q1)
q2 = np.quantile(customer_average_spent, 0.50)
print("the second quartile is",q2)
q3 = np.quantile(customer_average_spent, 0.75)
print("the third quartile is", q3)

the first quartile is 12.353053664397278
the second quartile is 17.716923076923077
the third quartile is 24.848410256410254

In [11]:
#define a function to locate each customer into given quantile range based on their average spent.
def customer_category(x):
    if x<=12.353053664397278:
        return "Customer with less spent"
    elif x<17.716923076923077 :
        return "Normal customer"
    elif x<24.848410256410254:
        return "Preferred Customers"
    else :
        return "VIP Customers"

In [12]:
#Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?
#the customers'average spent over from 0.5-0.75 quantile range is "Preferred" and over 0.75 range is then "VIP". 
customer_average_spent['Customer_Label'] = customer_average_spent['amount_spent'].apply(customer_category)
customer_average_spent.head()

            amount_spent       Customer_Label
CustomerID
12346       77183.600000        VIP Customers
12347          23.681319  Preferred Customers
12348          57.975484        VIP Customers
12349          24.076027  Preferred Customers
12350          19.670588  Preferred Customers

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [13]:
# your code here
customer_average_spent_by_country = orders.groupby(['Country','CustomerID']).agg({'amount_spent':'mean'})
customer_average_spent_by_country

                           amount_spent
Country        CustomerID
Australia      12386          40.190000
               12388          27.806600
               12393          24.728125
               12415         174.461634
               12422          18.390476
...                                 ...
United Kingdom 18287          26.246857
Unspecified    12363          24.000000
               12743           4.077836
               14265          17.102581
               16320          18.543929

[4347 rows x 1 columns]

In [15]:
customer_average_spent_by_country ['Customer_Label'] = customer_average_spent_by_country ['amount_spent'].apply(customer_category)
customer_average_spent_by_country.head()

                      amount_spent       Customer_Label
Country   CustomerID
Australia 12386          40.190000        VIP Customers
          12388          27.806600        VIP Customers
          12393          24.728125  Preferred Customers
          12415         174.461634        VIP Customers
          12422          18.390476  Preferred Customers

In [16]:
customer_average_spent_by_country['Customer_Label'].value_counts()

Preferred Customers         1090
VIP Customers               1087
Normal customer             1085
Customer with less spent    1085
Name: Customer_Label, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here