# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [13]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [14]:
# import dataset

pokemon_df = pd.read_csv('Pokemon.csv')
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Print first 10 rows of `pokemon`.

In [15]:
# your code here

pokemon_df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [16]:
# your code here

Type1_values = pokemon_df['Type 1'].unique()
Type2_values = pokemon_df['Type 2'].unique()

for i in Type1_values:
    if i in Type2_values:
        continue
    else:
        print(i, "is not in Type_values2")
        
for i in Type2_values:
    if i in Type1_values:
        continue
    else:
        print(i, "is not in Type_values2")

nan is not in Type_values2

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [17]:
# your code here

pokemon_df['Name'] = pokemon_df['Name'].str.replace('Mega',' Mega')
pokemon_df['Name'] = pokemon_df['Name'].str.replace('HoopaHoopa','Hoopa Hoopa')
pokemon_df['Name'] = pokemon_df['Name'].str.replace('Rotom','Rotom ')

def mega_duplicates(pokemon_df):
    pokemon_df['Name'] = pokemon_df['Name'].split(" ")   # split input string separated by space
    uniq_set = ' '.join(set(pokemon_df['Name'])) #convert to set to eliminate repeated words and then to str again
    return str(uniq_set)

pokemon_df['Name'] = pokemon_df.apply(mega_duplicates, axis = 1)
pokemon_df.sample(30)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
54,49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
200,185,Sudowoodo,Rock,NaN,410,70,100,115,30,65,30,2,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
581,522,Blitzle,Electric,NaN,295,45,60,32,50,32,76,5,False
745,677,Espurr,Psychic,NaN,355,62,48,54,63,60,68,6,False
320,296,Makuhita,Fighting,NaN,237,72,60,30,20,30,25,3,False
331,305,Lairon,Steel,Rock,430,60,90,140,50,50,40,3,False
334,307,Meditite,Fighting,Psychic,280,30,40,55,40,55,60,3,False
784,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
105,97,Hypno,Psychic,NaN,483,85,73,70,73,115,67,1,False
407,372,Shelgon,Dragon,NaN,420,65,95,100,60,50,50,3,False
446,401,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
507,457,Lumineon,Water,NaN,460,69,69,76,69,86,91,4,False
670,609,Chandelure,Ghost,Fire,520,60,55,90,145,90,80,5,False
220,205,Forretress,Bug,Steel,465,75,90,140,60,60,40,2,False
516,465,Tangrowth,Grass,NaN,535,100,100,125,110,50,50,4,False
457,412,Burmy,Bug,NaN,224,40,29,45,29,45,36,4,False
564,505,Watchog,Normal,NaN,420,60,85,69,60,69,77,5,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
399,364,Sealeo,Ice,Water,410,90,60,70,75,70,45,3,False
566,507,Herdier,Normal,NaN,370,65,80,65,35,65,60,5,False
618,557,Dwebble,Bug,Rock,325,50,65,85,35,35,55,5,False
379,347,Anorith,Rock,Bug,355,45,95,50,40,50,75,3,False
439,394,Prinplup,Water,NaN,405,64,66,68,81,76,50,4,False
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [18]:
# your code here

pokemon_df["A/D Ratio"] = pokemon_df["Attack"] / pokemon_df["Defense"]
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545
797,720,Confined Hoopa,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333
798,720,Unbound Hoopa,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667

#### Identify the pokemon with the highest `A/D Ratio`.

In [19]:
# your code here

pokemon_df[pokemon_df['A/D Ratio'] == max(pokemon_df['A/D Ratio'])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [20]:
# your code here

pokemon_df[pokemon_df['A/D Ratio'] == min(pokemon_df['A/D Ratio'])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [21]:
# your code here

pokemon_df = pokemon_df.replace(np.nan, " ", regex=True)

def combo_type(pokemon_df):
    if pokemon_df['Type 2'] == " ":
        return pokemon_df['Type 1']
    else:
        return pokemon_df['Type 1'] + "-" + pokemon_df['Type 2']

pokemon_df['Combo Type'] = pokemon_df.apply(combo_type, axis = 1)
pokemon_df.head(40)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,Charizard Mega X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,Charizard Mega Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False,0.738462,Water
10,8,Wartortle,Water,,405,59,63,80,65,80,58,1,False,0.787500,Water
11,9,Blastoise,Water,,530,79,83,100,85,105,78,1,False,0.830000,Water
12,9,Mega Blastoise,Water,,630,79,103,120,135,115,78,1,False,0.858333,Water
13,10,Caterpie,Bug,,195,45,30,35,20,20,45,1,False,0.857143,Bug
14,11,Metapod,Bug,,205,50,20,55,25,25,30,1,False,0.363636,Bug
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,0.900000,Bug-Flying
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,1.166667,Bug-Poison
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,0.500000,Bug-Poison
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,2.250000,Bug-Poison
19,15,Beedrill Mega,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750000,Bug-Poison
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False,1.125000,Normal-Flying
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False,1.090909,Normal-Flying
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False,1.066667,Normal-Flying
23,18,Mega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False,1.000000,Normal-Flying
24,19,Rattata,Normal,,253,30,56,35,25,35,72,1,False,1.600000,Normal
25,20,Raticate,Normal,,413,55,81,60,50,70,97,1,False,1.350000,Normal
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False,2.000000,Normal-Flying
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False,1.384615,Normal-Flying
28,23,Ekans,Poison,,288,35,60,44,40,54,55,1,False,1.363636,Poison
29,24,Arbok,Poison,,438,60,85,69,65,79,80,1,False,1.231884,Poison
30,25,Pikachu,Electric,,320,35,55,40,50,50,90,1,False,1.375000,Electric
31,26,Raichu,Electric,,485,60,90,55,90,80,110,1,False,1.636364,Electric
32,27,Sandshrew,Ground,,300,50,75,85,20,30,40,1,False,0.882353,Ground
33,28,Sandslash,Ground,,450,75,100,110,45,55,65,1,False,0.909091,Ground
34,29,Nidoranâ™€,Poison,,275,55,47,52,40,40,41,1,False,0.903846,Poison
35,30,Nidorina,Poison,,365,70,62,67,55,55,56,1,False,0.925373,Poison
36,31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False,1.057471,Poison-Ground
37,32,Nidoranâ™‚,Poison,,273,46,57,40,40,40,50,1,False,1.425000,Poison
38,33,Nidorino,Poison,,365,61,72,57,55,55,65,1,False,1.263158,Poison
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False,1.324675,Poison-Ground

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [22]:
# your code here

pokemon_df_sorted = (pokemon_df.sort_values(by=['A/D Ratio'], ascending=False)).head(5)
pokemon_df_sorted

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Beedrill Mega,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [23]:
# your code here

pokemon_agg = pokemon_df_sorted.groupby(['Name']).agg({'Combo Type':"sum"})
pokemon_agg_list = (pokemon_agg['Combo Type'].unique()).tolist()
pokemon_agg_list

['Bug-Poison', 'Water-Dark', 'Rock', 'Psychic']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [32]:
# your code here

    
df2 = pokemon_df.groupby(['Combo Type']).agg({'#':'mean','Total':'mean','HP':'mean','Attack':'mean',
                                            'Defense':'mean','Sp. Atk':'mean','Sp. Def':'mean',
                                            'Speed':'mean','Generation':'mean','Legendary':'mean',
                                            'A/D Ratio':'mean'}).reset_index()

df2

df4 = pd.DataFrame()

df2['Combo Type'] = df2['Combo Type'].str.strip()

def mean(df4):
    for i in (pokemon_agg_list):
        display(df2[df2['Combo Type'] == i])
    
mean(df4)

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
8,Bug-Poison,199.166667,347.916667,53.75,68.333333,58.083333,42.5,59.333333,65.916667,2.333333,0.0,1.315989

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
140,Water-Dark,347.666667,493.833333,69.166667,120.0,65.166667,88.833333,63.5,87.166667,3.166667,0.0,2.291949

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
117,Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
109,Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196