# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [2]:
# import libraries
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import dataset
pokemon=pd.read_csv('pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# your code here
pokemon[['Type 1','Type 2']]
display(pokemon['Type 1'].unique())
display(pokemon['Type 2'].unique())

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [20]:
# your code here

#RETOMAR
pokemon['Name']=pokemon['Name'].str.replace('^(.*)(?=Mega)', '')

# test transformed data
pokemon.head()

C:\Users\AMOHED~1\AppData\Local\Temp/ipykernel_66928/4001040026.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  pokemon['Name']=pokemon['Name'].str.replace('^(.*)(?=Mega)', '')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,"(Grass, Poison)"
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,"(Grass, Poison)"
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,"(Grass, Poison)"
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,"(Grass, Poison)"
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [7]:
# your code here
pokemon['A/D Ratio']= pokemon['Attack']/pokemon['Defense']
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667

#### Identify the pokemon with the highest `A/D Ratio`.

In [8]:
# your code here
pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [9]:
# your code here
pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [10]:
# your code here
#RETOMAR

type_1=list(pokemon['Type 1'].unique())
type_2=list(pokemon['Type 2'].unique())

def priority(row):
  if (row['Type 1'] in type_1) & (row['Type 2'] in type_1):
    return row['Type 1'],row['Type 2']
  else:
    return row['Type 1']

pokemon['Combo Type'] = pokemon.apply(priority, axis = 1)

pokemon.tail(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
780,710,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False,0.942857,"(Ghost, Grass)"
781,710,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False,0.942857,"(Ghost, Grass)"
782,710,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False,0.942857,"(Ghost, Grass)"
783,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False,0.942857,"(Ghost, Grass)"
784,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False,0.737705,"(Ghost, Grass)"
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False,0.696721,"(Ghost, Grass)"
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False,0.778689,"(Ghost, Grass)"
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False,0.819672,"(Ghost, Grass)"
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False,0.811765,Ice
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False,0.635870,Ice
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False,0.857143,"(Flying, Dragon)"
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False,0.875000,"(Flying, Dragon)"
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True,1.378947,Fairy
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True,1.378947,"(Dark, Flying)"
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,0.826446,"(Dragon, Ground)"
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667,"(Rock, Fairy)"
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545,"(Rock, Fairy)"
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333,"(Psychic, Ghost)"
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667,"(Psychic, Dark)"
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667,"(Fire, Water)"

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [11]:
# your code here
pokemon.sort_values('A/D Ratio', ascending=False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,"(Water, Dark)"
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,"(Bug, Poison)"
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,"(Water, Dark)"

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [12]:
# your code here

unique_values=pokemon.sort_values('A/D Ratio', ascending=False).head()
list(unique_values['Combo Type'].unique())

['Psychic', ('Water', 'Dark'), ('Bug', 'Poison'), 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [13]:
# your code here

numerical_columns=list(pokemon.mean().index)
print(numerical_columns)

unique_values.groupby(['Combo Type']).agg({'#': 'mean', 'Total': 'mean', 'HP': 'mean', 'Attack': 'mean', 'Defense': 'mean', 'Sp. Atk': 'mean', 'Sp. Def':'mean', 'Speed': 'mean', 'Generation':'mean', 'Legendary':'mean', 'A/D Ratio':'mean'})

['#', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'A/D Ratio']

C:\Users\AMOHED~1\AppData\Local\Temp/ipykernel_66928/4094821917.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  numerical_columns=list(pokemon.mean().index)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
"(Bug, Poison)",15.0,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,0.0,3.750
"(Water, Dark)",318.5,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,0.0,3.750
Psychic,386.0,600.0,50.0,180.0,20.0,180.0,20.0,150.0,3.0,1.0,9.000
Rock,408.0,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,0.0,3.125