# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [68]:
# Import libraries
import numpy as np
import pandas as pd

In [95]:
# Importing the dataset
pokemon = pd.read_csv('pokemon.csv')
pokemon.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [5]:
# Total is the sum of HP, Attack, Defense, Sp. Atk, Sp. Def, Speed
# Total = sum(HP, Attack, Defense, Sp. Atk, Sp. Def, Speed)
# The formula works for all pokemon

In [70]:
# Calculate the sum of HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed for each row
pokemon['Check total'] = pokemon[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum(axis=1)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Check total
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

Unique values in Type 1: ['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
Unique values in Type 2: ['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']

In [108]:
#Correct version

# Step 1: Combine unique values from both columns to get 
unique_types = [type for type in set(pokemon['Type 1'].unique()) | set(pokemon['Type 2'].unique()) 
                if type is not np.nan]

# Step 2: Create a new DataFrame with unique values as column names
one_hot_df = pd.DataFrame(columns=unique_types)

# Step 3: Populate the new DataFrame with binary values
for column_name in one_hot_df.columns:
    one_hot_df[column_name] = pokemon.apply(
        lambda row: 1 if column_name in (row['Type 1'], row['Type 2']) else 0, axis=1)

# Print the new DataFrame
one_hot_df.head()

,Bug,Fairy,Electric,Fighting,Poison,Dragon,Ice,Ground,Ghost,Flying,Grass,Dark,Water,Normal,Psychic,Rock,Steel,Fire
0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [115]:
# Step 1: Create a list of unique values from Type 1 and Type 2
unique_types = [type for type in set(pokemon['Type 1'].unique()) | set(pokemon['Type 2'].unique()) 
                if type is not np.nan]

# Step 2: Create a new DataFrame with unique values as columns
one_hot_df = pd.DataFrame(columns=unique_types)
one_hot_df = one_hot_df.fillna(0)

# Step 3: Populate the new DataFrame with binary values
for index, row in pokemon.iterrows():
    for column_name in one_hot_df.columns:
        if column_name in (row['Type 1'], row['Type 2']):
            one_hot_df.loc[index, column_name] = 1
        else:
            one_hot_df.loc[index, column_name] = 0

# Fill NaN values with 0 (assuming a type is not present)
one_hot_df = one_hot_df.fillna(0)

one_hot_df.head()

,Bug,Fairy,Electric,Fighting,Poison,Dragon,Ice,Ground,Ghost,Flying,Grass,Dark,Water,Normal,Psychic,Rock,Steel,Fire
0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [121]:
#Step 1 : Check NaN and clean up the database from NaN value :

check_nan = pokemon.isna().sum()
print(check_nan)

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [122]:
pokemon.fillna(0, inplace=True)

In [123]:
# Step 2 : Apply one-hot encoding to 'Type 1' and 'Type 2' of the pokemon data set
#Create new DF to stre the result

pokemon_encoded = pd.get_dummies(pokemon, columns=['Type 1', 'Type 2'])

pokemon_encoded.head()

,#,Name,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,1,Bulbasaur,318,45,49,49,65,65,45,1,...,0,0,0,0,0,1,0,0,0,0
1,2,Ivysaur,405,60,62,63,80,80,60,1,...,0,0,0,0,0,1,0,0,0,0
2,3,Venusaur,525,80,82,83,100,100,80,1,...,0,0,0,0,0,1,0,0,0,0
3,3,VenusaurMega Venusaur,625,80,100,123,122,120,80,1,...,0,0,0,0,0,1,0,0,0,0
4,4,Charmander,309,39,52,43,60,50,65,1,...,0,0,0,0,0,0,0,0,0,0

In [124]:
# Step 3 : Keep only type adjectives columns for better and clearer analysis
columns_to_drop = ['#','Name', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']
pokemon_encoded = pokemon_encoded.drop(columns=columns_to_drop)

# Step 4 : Finetune the DF by removing the 'Type_1_' and 'Type_2_' prefixes from the column names
pokemon_encoded.columns = [column.replace('Type 1_', '').replace('Type 2_', '') for column in pokemon_encoded.columns]

pokemon_encoded.head()

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [126]:
#Step 5 : get rid f duplicated columns by keeping columns where value = 1 
columns_to_keep = [column for column in one_hot_df.columns if 1 in one_hot_df[column].values]

one_hot_df_filtered = one_hot_df[columns_to_keep]

one_hot_df_filtered.head()

,Bug,Fairy,Electric,Fighting,Poison,Dragon,Ice,Ground,Ghost,Flying,Grass,Dark,Water,Normal,Psychic,Rock,Steel,Fire
0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [ ]:
#Correlation is a statistical measure that quantifies the extent to which two variables are related 
#or associated with each other. In the context of data analysis and statistics, correlation is used to 
#assess the strength and direction of a linear relationship between two numerical variables.

In [127]:
# your code here
correlations = one_hot_df_filtered.corrwith(pokemon['Total'])

# Sort the correlations in descending order to find the most positively correlated type
sorted_correlations = correlations.sort_values(ascending=False)

# Get the type with the highest correlation
highest_correlation_type = sorted_correlations.index[0]

# Print the result
print(f"The type with the highest correlation to 'Total' is {highest_correlation_type} with a correlation of {sorted_correlations[0]:.5f}")

The type with the highest correlation to 'Total' is Dragon with a correlation of 0.22970

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [128]:
# your code here
correlations = one_hot_df_filtered.corrwith(pokemon['Total'])

# Sort the correlations in descending order
sorted_correlations = correlations.sort_values(ascending=False)

# Set the number of top types to print
top_types = 5  # You can change this value to print more or fewer types

# Print the top N types with the highest correlation
print(f"The top {top_types} types with the highest correlation to 'Total' are:")

for i in range(top_types):
    type_name = sorted_correlations.index[i]
    correlation_value = sorted_correlations[i]
    print(f"{type_name}: {correlation_value:.5f}")

The top 5 types with the highest correlation to 'Total' are:
Dragon: 0.22970
Psychic: 0.12469
Steel: 0.10970
Fire: 0.07873
Fighting: 0.07779