# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np
import re

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
pokemon = pd.read_csv('pokemon.csv',index_col=False)

#### Print first 10 rows of `pokemon`.

In [3]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
pokemon = pokemon.fillna({'Type 1':'', 'Type 2':''}).fillna(0)

pokemon_types1 = pokemon['Type 1'].unique()
pokemon_types2 = pokemon['Type 2'].unique()

pokemon_types = pokemon_types1 + list(set(pokemon_types2) - set(pokemon_types1))

display(pokemon_types)

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
pokemon['Name'] = pokemon['Name'].str.replace('(.*)Mega','')

# test transformed data
pokemon.sample(10)

C:\Users\FiercePC\AppData\Local\Temp\ipykernel_11228\3014432693.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  pokemon['Name'] = pokemon['Name'].str.replace('(.*)Mega','')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
464,417,Pachirisu,Electric,,405,60,45,70,45,90,95,4,False
674,613,Cubchoo,Ice,,305,55,70,40,60,40,40,5,False
91,84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
328,303,Mawile,Steel,Fairy,380,50,85,85,55,55,50,3,False
737,669,Flabébé,Fairy,,303,44,38,39,61,79,42,6,False
300,277,Swellow,Normal,Flying,430,60,85,60,50,50,125,3,False
227,211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False
228,212,Scizor,Bug,Steel,500,70,130,100,55,80,65,2,False
383,351,Castform,Normal,,420,70,70,70,70,70,70,3,False
310,286,Breloom,Grass,Fighting,460,60,130,80,60,60,70,3,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']
pokemon[['Attack','Defense','A/D Ratio']]

     Attack  Defense  A/D Ratio
0        49       49   1.000000
1        62       63   0.984127
2        82       83   0.987952
3       100      123   0.813008
4        52       43   1.209302
..      ...      ...        ...
795     100      150   0.666667
796     160      110   1.454545
797     110       60   1.833333
798     160       60   2.666667
799     110      120   0.916667

[800 rows x 3 columns]

#### Identify the pokemon with the highest `A/D Ratio`.

In [7]:
pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.0

In [8]:
# Splitting Pokemon names concatenated in Cap Letters

pokemon['Name'] = [re.sub(r"(\w)([A-Z])", r"\1 \2", word)for word in pokemon['Name']]

#### Identify the pokemon with the lowest A/D Ratio.

In [9]:
pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [10]:
def combotype(row):    
    if (row['Type 1'] != '' and row['Type 2'] != ''):
        return row['Type 1']+'-'+row['Type 2']
    elif (row['Type 1'] != '' and row['Type 2'] == ''):
        return row['Type 1']

pokemon['Combo Type'] = pokemon.apply(combotype, axis=1)
pokemon.sample(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
19,15,Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750000,Bug-Poison
762,692,Clauncher,Water,,330,50,53,62,58,63,44,6,False,0.854839,Water
685,624,Pawniard,Dark,Steel,340,45,85,70,40,40,60,5,False,1.214286,Dark-Steel
150,139,Omastar,Rock,Water,495,70,60,125,115,70,55,1,False,0.480000,Rock-Water
220,205,Forretress,Bug,Steel,465,75,90,140,60,60,40,2,False,0.642857,Bug-Steel
782,710,Pumpkaboo Large Size,Ghost,Grass,335,54,66,70,44,55,46,6,False,0.942857,Ghost-Grass
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False,0.762712,Bug-Poison
732,664,Scatterbug,Bug,,200,38,35,40,27,25,35,6,False,0.875000,Bug
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True,0.849057,Fire-Steel
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,1.111111,Fire-Flying

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [11]:
top_poke = pokemon.nlargest(n=5, columns=['A/D Ratio'])
top_poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,Deoxys Attack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [12]:
top_combo = top_poke[['#','Name','Combo Type']]
top_combo

       #                 Name  Combo Type
429  386  Deoxys Attack Forme     Psychic
347  318             Carvanha  Water-Dark
19    15             Beedrill  Bug-Poison
453  408             Cranidos        Rock
348  319             Sharpedo  Water-Dark

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [16]:
pokemon.groupby(['Combo Type']).agg({'#':'mean','Total':'mean','HP':'mean','Attack':'mean','Defense':'mean','Sp. Atk':'mean','Sp. Def':'mean','Speed':'mean','Generation':'mean'})

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Combo Type,,,,,,,,,
Bug,361.352941,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588
Bug-Electric,595.500000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000
Bug-Fighting,214.000000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000
Bug-Fire,636.500000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000
Bug-Flying,286.285714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143
...,...,...,...,...,...,...,...,...,...
Water-Ice,103.000000,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000
Water-Poison,118.666667,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333
Water-Psychic,111.800000,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000
Water-Rock,430.000000,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000
Water-Steel,395.000000,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000