# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# your code here
orders = pd.read_csv("orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [8]:
# aggregating the amount_spent
individual_shoppers = orders.groupby(["InvoiceNo"]).agg({'amount_spent' : 'sum'})

In [10]:
# quantile range

individual_shoppers["bin"] = pd.cut(individual_shoppers["amount_spent"], 5, labels=['very low', 'low', 'medium', 'preferred', 'VIP'])
individual_shoppers[['amount_spent','bin']]

           amount_spent       bin
InvoiceNo
536365           139.12  very low
536366            22.20  very low
536367           278.73  very low
536368            70.05  very low
536369            17.85  very low
...                 ...       ...
581583           124.60  very low
581584           140.64  very low
581585           329.05  very low
581586           339.20  very low
581587           249.45  very low

[18536 rows x 2 columns]

In [13]:
# selecting customers
individual_shoppers.sort_values(by=['amount_spent'], ascending=False)

           amount_spent       bin
InvoiceNo
581483        168469.60       VIP
541431         77183.60    medium
556444         38970.00       low
567423         31698.16  very low
556917         22775.93  very low
...                 ...       ...
570554             0.38  very low
578841             0.00  very low
543599             0.00  very low
568384             0.00  very low
564651             0.00  very low

[18536 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here
# I am kind of stuck. Will get back after next class!

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here