# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# your code here
orders = pd.read_csv('Orders.csv')
orders = orders.drop(['Unnamed: 0'],axis=1)
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
# your code here
agg_amount = orders.groupby(['CustomerID']).agg({'amount_spent':sum})
agg_amount

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [5]:
perc95 = np.percentile(agg_amount['amount_spent'],95)
perc75 = np.percentile(agg_amount['amount_spent'],75)
perc75

1661.64

In [6]:
def customers_def(x):
    if x > perc95:
        return 'VIP Customer'
    elif x < perc95 and x >= perc75:
        return 'Preferred Customer'
    else:
        return 'Not-preferred Customer'
    
agg_amount['customer_label'] = agg_amount['amount_spent'].apply(customers_def)

agg_amount

            amount_spent          customer_label
CustomerID
12346           77183.60            VIP Customer
12347            4310.00      Preferred Customer
12348            1797.24      Preferred Customer
12349            1757.55      Preferred Customer
12350             334.40  Not-preferred Customer
...                  ...                     ...
18280             180.60  Not-preferred Customer
18281              80.82  Not-preferred Customer
18282             178.05  Not-preferred Customer
18283            2094.88      Preferred Customer
18287            1837.28      Preferred Customer

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [8]:
# your code here
country_amount = orders.groupby(['CustomerID','Country']).agg({'amount_spent':sum})
perc95 = np.percentile(agg_amount['amount_spent'],95)
perc75 = np.percentile(agg_amount['amount_spent'],75)

def customers(x):
    if x > perc95:
        return 'VIP Customer'
    elif x < perc95 and x >= perc75:
        return 'Preferred Customer'
    else:
        return 'Not-preferred Customer'
    
country_amount['customer_label'] = country_amount['amount_spent'].apply(customers)

country_amount

                           amount_spent          customer_label
CustomerID Country
12346      United Kingdom      77183.60            VIP Customer
12347      Iceland              4310.00      Preferred Customer
12348      Finland              1797.24      Preferred Customer
12349      Italy                1757.55      Preferred Customer
12350      Norway                334.40  Not-preferred Customer
...                                 ...                     ...
18280      United Kingdom        180.60  Not-preferred Customer
18281      United Kingdom         80.82  Not-preferred Customer
18282      United Kingdom        178.05  Not-preferred Customer
18283      United Kingdom       2094.88      Preferred Customer
18287      United Kingdom       1837.28      Preferred Customer

[4347 rows x 2 columns]

In [9]:
country_amount['customer_label'].value_counts()

Not-preferred Customer    3262
Preferred Customer         869
VIP Customer               216
Name: customer_label, dtype: int64

In [13]:
country_amount = country_amount.reset_index()
country_amount

      index  CustomerID         Country  amount_spent          customer_label
0         0       12346  United Kingdom      77183.60            VIP Customer
1         1       12347         Iceland       4310.00      Preferred Customer
2         2       12348         Finland       1797.24      Preferred Customer
3         3       12349           Italy       1757.55      Preferred Customer
4         4       12350          Norway        334.40  Not-preferred Customer
...     ...         ...             ...           ...                     ...
4342   4342       18280  United Kingdom        180.60  Not-preferred Customer
4343   4343       18281  United Kingdom         80.82  Not-preferred Customer
4344   4344       18282  United Kingdom        178.05  Not-preferred Customer
4345   4345       18283  United Kingdom       2094.88      Preferred Customer
4346   4346       18287  United Kingdom       1837.28      Preferred Customer

[4347 rows x 5 columns]

In [19]:
only_vip = country_amount[country_amount['customer_label'].isin(['VIP Customer'])]
only_vip

      index  CustomerID         Country  amount_spent customer_label
0         0       12346  United Kingdom      77183.60   VIP Customer
10       10       12357     Switzerland       6207.67   VIP Customer
12       12       12359          Cyprus       6372.58   VIP Customer
52       52       12409     Switzerland      11072.67   VIP Customer
57       57       12415       Australia     124914.53   VIP Customer
...     ...         ...             ...           ...            ...
4215   4215       18109  United Kingdom       8052.97   VIP Customer
4237   4237       18139  United Kingdom       8438.34   VIP Customer
4261   4261       18172  United Kingdom       7561.68   VIP Customer
4300   4300       18223  United Kingdom       6484.54   VIP Customer
4306   4306       18229  United Kingdom       7276.90   VIP Customer

[216 rows x 5 columns]

In [20]:
only_vip['Country'].value_counts()

United Kingdom     177
Germany             10
France               9
Switzerland          3
Spain                2
Japan                2
Portugal             2
EIRE                 2
Australia            1
Finland              1
Norway               1
Denmark              1
Cyprus               1
Singapore            1
Netherlands          1
Channel Islands      1
Sweden               1
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [21]:
# your code here
vip_and_pref = country_amount[country_amount['customer_label'].isin(['VIP Customer','Preferred Customer'])]
vip_and_pref

      index  CustomerID         Country  amount_spent      customer_label
0         0       12346  United Kingdom      77183.60        VIP Customer
1         1       12347         Iceland       4310.00  Preferred Customer
2         2       12348         Finland       1797.24  Preferred Customer
3         3       12349           Italy       1757.55  Preferred Customer
5         5       12352          Norway       2506.04  Preferred Customer
...     ...         ...             ...           ...                 ...
4327   4327       18259  United Kingdom       2338.60  Preferred Customer
4328   4328       18260  United Kingdom       2643.20  Preferred Customer
4336   4336       18272  United Kingdom       3078.58  Preferred Customer
4345   4345       18283  United Kingdom       2094.88  Preferred Customer
4346   4346       18287  United Kingdom       1837.28  Preferred Customer

[1085 rows x 5 columns]

In [22]:
vip_and_pref['Country'].value_counts()

United Kingdom     932
Germany             39
France              29
Belgium             11
Switzerland          9
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Australia            4
Japan                4
Cyprus               3
Denmark              3
EIRE                 3
Israel               2
Sweden               2
Singapore            1
Lebanon              1
Poland               1
Iceland              1
Greece               1
Netherlands          1
Austria              1
Canada               1
Malta                1
Name: Country, dtype: int64