# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [5]:
# your code here
orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [16]:
# your code here
spent_per_customer = orders.groupby(['CustomerID','Country']).agg({'amount_spent':'sum'})
spent_per_customer

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [33]:
# your code here
VIP_Customers = spent_per_customer[spent_per_customer['amount_spent'] > spent_per_customer['amount_spent'].quantile(.95)]
VIP_Customers.value_counts(['Country'])

Country
United Kingdom     178
Germany             11
France               9
Switzerland          3
Spain                2
Portugal             2
Japan                2
EIRE                 2
Finland              1
Channel Islands      1
Netherlands          1
Norway               1
Singapore            1
Denmark              1
Sweden               1
Cyprus               1
Australia            1
dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [28]:
Preferred_Customers = spent_per_customer[(spent_per_customer['amount_spent'] < spent_per_customer['amount_spent'].quantile(.95)) & (spent_per_customer['amount_spent'] > spent_per_customer['amount_spent'].quantile(.75))]
Preferred_Customers

                           amount_spent
CustomerID Country
12347      Iceland              4310.00
12348      Finland              1797.24
12349      Italy                1757.55
12352      Norway               2506.04
12356      Portugal             2811.43
...                                 ...
18259      United Kingdom       2338.60
18260      United Kingdom       2643.20
18272      United Kingdom       3078.58
18283      United Kingdom       2094.88
18287      United Kingdom       1837.28

[869 rows x 1 columns]

In [35]:
# your code here
VIP_and_Preferred = pd.concat([VIP_Customers, Preferred_Customers])
VIP_and_Preferred.head()
VIP_and_Preferred.value_counts(['Country'])

Country
United Kingdom     934
Germany             39
France              29
Belgium             11
Switzerland          9
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Japan                4
Australia            4
Channel Islands      4
EIRE                 3
Denmark              3
Cyprus               3
Sweden               2
Israel               2
Iceland              1
Austria              1
Greece               1
Lebanon              1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
dtype: int64