# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv('orders.csv', sep=',')
orders.head()
orders.nunique()

Unnamed: 0      397924
InvoiceNo        18536
StockCode         3665
year                 2
month               12
day                  6
hour                15
Description       3877
Quantity           302
InvoiceDate      17286
UnitPrice          441
CustomerID        4339
Country             37
amount_spent      2811
dtype: int64

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
customers = orders.groupby(['CustomerID', 'Country']).agg({'amount_spent': sum  }).reset_index().sort_values(by=['amount_spent'],ascending=False)
customers

      CustomerID         Country  amount_spent
1698       14646     Netherlands     280206.02
4210       18102  United Kingdom     259657.30
3737       17450  United Kingdom     194550.79
3017       16446  United Kingdom     168472.50
1888       14911            EIRE     143825.06
...          ...             ...           ...
4107       17956  United Kingdom         12.75
3023       16454  United Kingdom          6.90
1802       14792  United Kingdom          6.20
3226       16738  United Kingdom          3.75
693        13256  United Kingdom          0.00

[4347 rows x 3 columns]

In [4]:
def percentile_75 (row):
    p_75 = customers['amount_spent'].quantile(q=0.75)
    if row['amount_spent'] > p_75:
        return 'Yes'
    else:
        return 'No'

def percentile_95 (row):
    p_95 = customers['amount_spent'].quantile(q=0.95)
    if row['amount_spent'] > p_95:
        return 'Yes'
    else:
        return 'No'

customers['perc_75'] = customers.apply(percentile_75, axis=1)
customers['perc_95'] = customers.apply(percentile_95, axis=1)
customers

      CustomerID         Country  amount_spent perc_75 perc_95
1698       14646     Netherlands     280206.02     Yes     Yes
4210       18102  United Kingdom     259657.30     Yes     Yes
3737       17450  United Kingdom     194550.79     Yes     Yes
3017       16446  United Kingdom     168472.50     Yes     Yes
1888       14911            EIRE     143825.06     Yes     Yes
...          ...             ...           ...     ...     ...
4107       17956  United Kingdom         12.75      No      No
3023       16454  United Kingdom          6.90      No      No
1802       14792  United Kingdom          6.20      No      No
3226       16738  United Kingdom          3.75      No      No
693        13256  United Kingdom          0.00      No      No

[4347 rows x 5 columns]

In [5]:
def customer_type (row):
    if row['perc_75'] == 'Yes' and row['perc_95'] == 'No':
        return 'Preferred'
    if row['perc_75'] == 'Yes' and row['perc_95'] == 'Yes':
        return 'VIP'

customers['type'] = customers.apply(customer_type, axis=1)
customers

      CustomerID         Country  amount_spent perc_75 perc_95  type
1698       14646     Netherlands     280206.02     Yes     Yes   VIP
4210       18102  United Kingdom     259657.30     Yes     Yes   VIP
3737       17450  United Kingdom     194550.79     Yes     Yes   VIP
3017       16446  United Kingdom     168472.50     Yes     Yes   VIP
1888       14911            EIRE     143825.06     Yes     Yes   VIP
...          ...             ...           ...     ...     ...   ...
4107       17956  United Kingdom         12.75      No      No  None
3023       16454  United Kingdom          6.90      No      No  None
1802       14792  United Kingdom          6.20      No      No  None
3226       16738  United Kingdom          3.75      No      No  None
693        13256  United Kingdom          0.00      No      No  None

[4347 rows x 6 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [6]:
# your code here
customers_2 = customers.groupby(['Country', 'type']).size().reset_index(name='count')
customers_2

            Country       type  count
0         Australia  Preferred      3
1         Australia        VIP      1
2           Austria  Preferred      1
3           Belgium  Preferred     11
4            Canada  Preferred      1
5   Channel Islands  Preferred      3
6   Channel Islands        VIP      1
7            Cyprus  Preferred      2
8            Cyprus        VIP      1
9           Denmark  Preferred      2
10          Denmark        VIP      1
11             EIRE  Preferred      1
12             EIRE        VIP      2
13          Finland  Preferred      4
14          Finland        VIP      1
15           France  Preferred     20
16           France        VIP      9
17          Germany  Preferred     28
18          Germany        VIP     11
19           Greece  Preferred      1
20          Iceland  Preferred      1
21           Israel  Preferred      2
22            Italy  Preferred      5
23            Japan  Preferred      2
24            Japan        VIP      2
25          Lebanon  Preferred      1
26            Malta  Preferred      1
27      Netherlands        VIP      1
28           Norway  Preferred      6
29           Norway        VIP      1
30           Poland  Preferred      1
31         Portugal  Preferred      5
32         Portugal        VIP      2
33        Singapore        VIP      1
34            Spain  Preferred      5
35            Spain        VIP      2
36           Sweden  Preferred      1
37           Sweden        VIP      1
38      Switzerland  Preferred      6
39      Switzerland        VIP      3
40   United Kingdom  Preferred    756
41   United Kingdom        VIP    178

In [7]:
customers_2.loc[customers_2['type']=='VIP'].max()

Country    United Kingdom
type                  VIP
count                 178
dtype: object

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [8]:
# your code here
customers_2.groupby(['Country']).sum('count').sort_values(by=['count'],ascending=False)

                 count
Country
United Kingdom     934
Germany             39
France              29
Belgium             11
Switzerland          9
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Japan                4
Australia            4
Channel Islands      4
EIRE                 3
Denmark              3
Cyprus               3
Sweden               2
Israel               2
Iceland              1
Austria              1
Greece               1
Lebanon              1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1