# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
# your code here
orders=pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [6]:
# your code here
customer_spent=orders.groupby(['CustomerID']).agg({'amount_spent':'sum','Country':'unique'}).reset_index()
print(customer_spent)
print(customer_spent.dtypes)

      CustomerID  amount_spent           Country
0          12346      77183.60  [United Kingdom]
1          12347       4310.00         [Iceland]
2          12348       1797.24         [Finland]
3          12349       1757.55           [Italy]
4          12350        334.40          [Norway]
...          ...           ...               ...
4334       18280        180.60  [United Kingdom]
4335       18281         80.82  [United Kingdom]
4336       18282        178.05  [United Kingdom]
4337       18283       2094.88  [United Kingdom]
4338       18287       1837.28  [United Kingdom]

[4339 rows x 3 columns]
CustomerID        int64
amount_spent    float64
Country          object
dtype: object

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [7]:
# your code here
customer_spent=customer_spent.sort_values(by=['amount_spent'],ascending=False)

customer_spent['QuantileRank']= pd.qcut(customer_spent['amount_spent'], q = 4, labels = ['Low',"Medium","Preferred","VIP"])

print(customer_spent.head(20))
print(customer_spent.tail(20))
print(customer_spent.dtypes)
customer_spent["Country"] = customer_spent["Country"].apply(str)
customer_spent["Country"] = customer_spent["Country"].str.replace(r'\[|\]', '', regex=True)
print(customer_spent.head(5))
#VIP=customer_spent['QuantileRank'=="3"]
#Preferred=customer_spent['QuantileRank'=="2"]
#print(VIP)
#print(Preferred)

      CustomerID  amount_spent           Country QuantileRank
1690       14646     280206.02     [Netherlands]          VIP
4202       18102     259657.30  [United Kingdom]          VIP
3729       17450     194550.79  [United Kingdom]          VIP
3009       16446     168472.50  [United Kingdom]          VIP
1880       14911     143825.06            [EIRE]          VIP
55         12415     124914.53       [Australia]          VIP
1334       14156     117379.63            [EIRE]          VIP
3772       17511      91062.38  [United Kingdom]          VIP
2703       16029      81024.84  [United Kingdom]          VIP
0          12346      77183.60  [United Kingdom]          VIP
3177       16684      66653.56  [United Kingdom]          VIP
1290       14096      65164.79  [United Kingdom]          VIP
997        13694      65039.62  [United Kingdom]          VIP
2177       15311      60767.90  [United Kingdom]          VIP
562        13089      58825.83  [United Kingdom]          VIP
4094       17949      58510.48  [United Kingdom]          VIP
2518       15769      56252.72  [United Kingdom]          VIP
1984       15061      54534.14  [United Kingdom]          VIP
1435       14298      51527.30  [United Kingdom]          VIP
1285       14088      50491.81  [United Kingdom]          VIP
      CustomerID  amount_spent           Country QuantileRank
1641       14576         35.40  [United Kingdom]          Low
2498       15744         34.80  [United Kingdom]          Low
3241       16765         34.00  [United Kingdom]          Low
3697       17408         32.65  [United Kingdom]          Low
586        13120         30.60  [United Kingdom]          Low
2434       15657         30.00  [United Kingdom]          Low
3487       17102         25.50  [United Kingdom]          Low
4325       18268         25.50  [United Kingdom]          Low
3381       16953         20.80  [United Kingdom]          Low
4123       17986         20.80  [United Kingdom]          Low
2745       16093         17.00  [United Kingdom]          Low
2559       15823         15.00  [United Kingdom]          Low
723        13307         15.00  [United Kingdom]          Low
3961       17763         15.00  [United Kingdom]          Low
3324       16878         13.30  [United Kingdom]          Low
4099       17956         12.75  [United Kingdom]          Low
3015       16454          6.90  [United Kingdom]          Low
1794       14792          6.20  [United Kingdom]          Low
3218       16738          3.75  [United Kingdom]          Low
685        13256          0.00  [United Kingdom]          Low
CustomerID         int64
amount_spent     float64
Country           object
QuantileRank    category
dtype: object
      CustomerID  amount_spent           Country QuantileRank
1690       14646     280206.02     'Netherlands'          VIP
4202       18102     259657.30  'United Kingdom'          VIP
3729       17450     194550.79  'United Kingdom'          VIP
3009       16446     168472.50  'United Kingdom'          VIP
1880       14911     143825.06            'EIRE'          VIP

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [14]:
# your code here
import numpy as np
#pivot table return unhasable ndarray error
#pivot_country=customer_spent_df.pivot_table(index="Country",columns="QuantileRank",values="QuantileRank",aggfunc="count")
columns = ['Country','Number']
stats = pd.DataFrame(columns=columns)
customer_spent.head(5)
pivot_table=customer_spent.pivot_table(values="CustomerID",index="Country",columns="QuantileRank",aggfunc="count")
pivot_table.head(5)
pivot_table["Total VP"]=pivot_table["Preferred"]+pivot_table["VIP"]
pivot_table
pivot_table=pivot_table.sort_values("Total VP",ascending=False)
print("The country with the most VIP and Preferred cusomters is",pivot_table.index[0])

The country with the most VIP and Preferred cusomters is 'United Kingdom'