# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
data = pd.read_csv('Orders.csv', sep= ",")
data

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [11]:
# BORRADOR - NOTAS: 

#data_ordered = data.sort_values(by='amount_spent', ascending=False) #los ordeno de mayor a menor
#data_ordered.head(10) 
##labels = ['0-10','10-20','20-1000','>5000']

##print('max value:',data['amount_spent'].max(),'min value:',data['amount_spent'].min(),'mean value:',data['amount_spent'].mean())

#Sub Problem 1: How to aggregate the amount_spent for unique customers?
##groupby_custonersID = data.groupby(['CustomerID']).agg({'amount_spent':'sum'}).reset_index().head()
##groupby_custonersID

#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?

#ranges choosen:
##data[data['amount_spent']>5000]['amount_spent']
##data[data['amount_spent']<1000]['amount_spent']
##data[data['amount_spent']<20]['amount_spent']
##data[data['amount_spent']<10]['amount_spent']
#bins = pd.cut(data['amount_spent'],[0,10,20,1000,4000], labels = labels) this was for the data

#ranges applied to the customers with aggregated amount:
##bins_2 = pd.cut(groupby_custonersID['amount_spent'],[0,10,20,1000,5000], labels = labels)

#Choosing the clients that have aggregated spent are in the highest range:
##print('The VIP customers that have buy more than one time are:')
##print(groupby_custonersID[groupby_custonersID['amount_spent']>5000])
##print('Due to the values that we see in the histogram:')
#groupby_custonersID['amount_spent'].hist()

##data['amount_spent'].hist()
#data_ordered.head(10) 
##labels = ['0-10','10-20','20-1000','>5000']

##print('max value:',data['amount_spent'].max(),'min value:',data['amount_spent'].min(),'mean value:',data['amount_spent'].mean())

##data['bins'] = pd.cut(data['amount_spent'], [0,10,20,1000,5000], labels=labels)
##data.head()

##data['bins'].unique()
##data[data['bins'] == '>5000']['CustomerID']
##a = set(groupby_custonersID[groupby_custonersID['amount_spent']>5000]['CustomerID'])
##b = set(data[data['bins'] == '>5000']['CustomerID'])
##c = a|b
##c
##data['bins'].unique()
##print('VIP customers are those that have spent more than 5000 u.m.:',c)

In [3]:
percentil_75 = np.percentile(data['amount_spent'], 75)
percentil_95 = np.percentile(data['amount_spent'], 95)
print('Percentil 95:', percentil_95,'Percentil 75:', percentil_75)

Percentil 95: 67.5 Percentil 75: 19.8

In [4]:
data[data['amount_spent']>percentil_95]

new_labels = ['Preferred','VIP']
data['Customer_Type'] = pd.cut(data['amount_spent'], [0,19.8,67.5], labels=new_labels)
data.head()
#data['Customer_Type'] = data['Customer_Type'].cat.add_categories('Normal')
data['Customer_Type'] = data['Customer_Type'].astype('category')
data['Customer_Type'] = data['Customer_Type'].cat.add_categories('Normal')
data['Customer_Type']=data['Customer_Type'].fillna('Normal')

data['Customer_Type'].unique()

[Preferred, VIP, Normal]
Categories (3, object): [Preferred < VIP < Normal]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [7]:
# your code here

data.head(10)

#VIP_customers =  data.groupby(['Country','Customer_Type'])['amount_spent'].agg(sum)


filter_VIP = data[data['Customer_Type']=='VIP']
#VIP_customers =  filter_VIP.groupby(['Country','Customer_Type'])['amount_spent'].agg(sum)
filter_VIP

#VIP_country = filter_VIP.groupby(['Country'])['CustomerID'].agg(count)

grouped = filter_VIP.groupby('Country').agg({'CustomerID': 'count'}).reset_index()
grouped
grouped_ordered = grouped.sort_values(by='CustomerID', ascending=False) #los ordeno de mayor a menor
grouped_ordered.head(10) 
print(grouped_ordered.iloc[:5]['Country'])

34    United Kingdom
14           Germany
13            France
10              EIRE
31       Switzerland
Name: Country, dtype: object

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [9]:
# your code here

filter_VIP_Preferred  = data[data['Customer_Type']!="Normal"]
#VIP_customers =  filter_VIP.groupby(['Country','Customer_Type'])['amount_spent'].agg(sum)
filter_VIP_Preferred

#VIP_country = filter_VIP.groupby(['Country'])['CustomerID'].agg(count)

grouped_2 = filter_VIP_Preferred.groupby('Country').agg({'CustomerID': 'count'}).reset_index()
grouped_2
grouped_ordered_2 = grouped_2.sort_values(by='CustomerID', ascending=False) #los ordeno de mayor a menor
grouped_ordered_2.head(10) 
print(grouped_ordered_2.iloc[:5]['Country'])

35    United Kingdom
14           Germany
13            France
10              EIRE
30             Spain
Name: Country, dtype: object